body {
	background-color: white;
}

a {
	text-decoration: none;
	padding: 5px;
}

#header {
	background-color: #ff6600;
}

#logo {
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

.left {
	display: inline-block;
	text-align: left;
}