{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Hacker News</title>
</head>
<body>
    <div id="header">
        <img id="logo" src="{% static 'res/logo.gif' %}"><b>Hacker News</b>{% if request.user.is_authenticated %}<a href="new" class="left">new</a>{% endif %}{% if not request.user.is_authenticated %}<a href="login" class="left">login</a>{% endif %}{% if not request.user.is_authenticated %}<a href="register" class="left">register</a>{% endif %}{% if request.user.is_authenticated %}<a href="logout" class="left">logout</a>{% endif %}
    </div>
</body>
</html>